.container {
    width:350px;
    height:450px;
    border-radius : 20px;
    border : 1px solid black;
}
.image-container {
    width:100%;
    height:200px;
}
.image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;;
    width:100%;
    height:100%;
}
.product-details {
    width:98%;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom : 10px;
    align-items:center;
    display:grid;
    grid-template-rows: 30px 35px 60px 60px;
}

.product-name {
    float : left;
    font-size: 20px;
    
    color: gray;

}



.product-icon {
    float : right;
    width:120px;
    height:40px;
}

.product-icon-one, .product-icon-two {
    width: 35px;
    height:30px;
    margin: 5px;
    margin-top : 15px;
    border-radius:10px;
}


.product-two {
    clear : both;
}
.product-desc {
    margin-top:0px;
    color : gray;

}
.product-three {
    display : grid;
    grid-template-columns : 30% 36% 30%;
    margin-top : -10px;
    color : gray;
    
}
.product-celsius {
    margin-left : 24px;
}


.product-four {
    
    display : grid;
    grid-template-columns: 30% 30% 36%;
}
.product-discount {
    color : red;
    margin-top : -2px;
    text-decoration-line : line-through;
}
.product-price {
    margin-top : -2px;
}
.product-order {
    height:40px;
    border-radius : 20px;
    color : white;
    border: 0px solid white;
    background-color : rgb(57, 218, 57);
}
